/* essential css -------------> */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(255, 255, 255);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Reusable Css */
/* Button */
/* Button Styles */
.button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s;
}

.fill {
  background-color: #333;
  color: #ffffff;
}

.outline {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
}

.small {
  font-size: 12px;
  padding: 8px 16px;
}

.medium {
  font-size: 16px;
  padding: 10px 20px;
}

/* Hover styles */
.button:hover {
  transform: scale(.9);
}

.button:active {
  transform: scale(1.1);
}


/* Navbar -------------------------> */

/* Navbar Styles */
.navbar {
  background-color: #3498db;
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  max-width: 40px;
  /* Adjust the logo size as needed */
  margin-right: 10px;
  /* Add spacing between logo and project name */
  vertical-align: middle;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.full__logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Album Form -------------> */
/* AlbumForm Styles */
.album-form-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 475px;
  margin-inline: auto;
  height: fit-content;
  transition: all 0.3s;
}

.form-header {
  margin-left: 0.4rem;
  margin-bottom: 20px;
}

.form-header h2 {
  font-size: 26px;
}

.album-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-input {
  padding: 10px 19px;
  border: 2px solid #ccc;
  border-radius: 26px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 100%;
  color: #333;
  outline: none;
}

.album-input:focus,
.album-input:active {
  border: 2px solid #07f;
}

.button-container {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.2rem;
  width: 100%;
}

/* Override Button component styles for this form */
.album-form .button {
  width: 48%;
  /* Adjust the width as needed */
  margin: 0;
}

/* main section */
.main__section {
  max-width: calc(1024px + 1.2rem);
  margin-inline: auto;
  padding-inline: 1.2rem;
  padding-block: 1.5rem;
}

/* Album List --------------> */
/* AlbumList Styles */
.album-list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 1.3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 24px;
}

/* Override Button component styles for the "Add Album" button */
.header .button {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.album {
  text-align: center;
}

.album-image {
  width: 100%;
  max-height: 150px;
  /* Adjust the image size as needed */
}

/* Add these styles for the album-card */
.album-card {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s;
  cursor: pointer;
}

.album-card:hover {
  border-color: #07f;
  /* Change border color on hover */
}

.album-image-container {
  text-align: center;
}

.album-image {
  width: 35%;
  max-height: 150px;
  /* Adjust the image size as needed */
}

.album-name {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  color: #333;
  /* Album name color */
}

.round__btn {
  background-color: white;
  box-shadow: 0px 4px 8px grey;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  font-size: 1.5rem;
  font-weight: bolder;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.round__btn:active,
.round__btn:focus {
  transform: scale(1.2);
}

.round__btn:hover {
  transform: scale(0.9);
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* Carousel */
.overly {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  padding: 2rem;
  background-color: #96939344;
}

.overly__header {
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.carousel__img {
  max-width: 80%;
  display: block;
  margin-inline: auto;
  margin-top: 1.2rem;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 2%;
}

.absolute.right {
  left: unset;
  right: 2%;
}