/* essential css -------------> */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(255, 255, 255);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Reusable Css */
/* Button */
/* Button Styles */
.button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  padding: 10px 20px;
  transition: all 0.3s;
}

.fill {
  background-color: #333;
  color: #ffffff;
}

.outline {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
}

.small {
  font-size: 12px;
  padding: 8px 16px;
}

.medium {
  font-size: 16px;
  padding: 10px 20px;
}

/* Hover styles */
.button:hover {
  transform: scale(.9);
}

.button:active {
  transform: scale(1.1);
}


/* Navbar -------------------------> */

/* Navbar Styles */
.navbar {
  background-color: #3498db;
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  max-width: 40px;
  /* Adjust the logo size as needed */
  margin-right: 10px;
  /* Add spacing between logo and project name */
  vertical-align: middle;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}